doctype html
html(lang="en")
  head 
    title Edit 
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css") 
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css") 
    style body {padding-top:80px; }

  body
    .container
      .jumbotron.text-center
        h1
          input(type='hidden' value="#{user._id}")#id
          div First Name
          input(type="text")#firstName
          div Middle Name
          input(type='text')#middleName
          div Last Name
          input(type='text')#lastName
          div Email
          input(type="text")#email
          div Phone
          input(type="text")#phone
          div Address
          input(type="text")#address
          div City
          input(type="text")#city
          div County
          input(type="text")#county
          div Postcode
          input(type="text")#postcode
         .row 
           .col-xs-6
             .btn.btn-default#save-button Save changes
           .col-xs-6
             .btn.btn-default#cancel-button Cancel

block scripts 
  include default-scripts
  script(src="/js/services/userService.js")
  script(src="/js/controllers/edit.js")
